[{:loser3 ["B"],
  :winner2 ["A"],
  :winner3 ["A"],
  :winner1 ["A"],
  :outcome "win",
  :tournament "single",
  :loser2 ["B"],
  :X 1,
  :loser1 ["B"],
  :pattern "confounded evidence"}
 {:loser3 ["A"],
  :winner2 ["B"],
  :winner3 ["B"],
  :winner1 ["B"],
  :outcome "loss",
  :tournament "single",
  :loser2 ["A"],
  :X 2,
  :loser1 ["A"],
  :pattern "confounded evidence"}
 {:loser3 ["D"],
  :winner2 ["B"],
  :winner3 ["B"],
  :winner1 ["A"],
  :outcome "win",
  :tournament "single",
  :loser2 ["C"],
  :X 3,
  :loser1 ["B"],
  :pattern "strong indirect evidence"}
 {:loser3 ["B"],
  :winner2 ["C"],
  :winner3 ["D"],
  :winner1 ["B"],
  :outcome "loss",
  :tournament "single",
  :loser2 ["B"],
  :X 4,
  :loser1 ["A"],
  :pattern "strong indirect evidence"}
 {:loser3 ["B"],
  :winner2 ["C"],
  :winner3 ["D"],
  :winner1 ["A"],
  :outcome "win",
  :tournament "single",
  :loser2 ["B"],
  :X 5,
  :loser1 ["B"],
  :pattern "weak indirect evidence"}
 {:loser3 ["D"],
  :winner2 ["B"],
  :winner3 ["B"],
  :winner1 ["B"],
  :outcome "loss",
  :tournament "single",
  :loser2 ["C"],
  :X 6,
  :loser1 ["A"],
  :pattern "weak indirect evidence"}
 {:loser3 ["D"],
  :winner2 ["A"],
  :winner3 ["A"],
  :winner1 ["A"],
  :outcome "win",
  :tournament "single",
  :loser2 ["C"],
  :X 7,
  :loser1 ["B"],
  :pattern "diverse evidence"}
 {:loser3 ["A"],
  :winner2 ["C"],
  :winner3 ["D"],
  :winner1 ["B"],
  :outcome "loss",
  :tournament "single",
  :loser2 ["A"],
  :X 8,
  :loser1 ["A"],
  :pattern "diverse evidence"}
 {:loser3 ["G" "H"],
  :winner2 ["A" "B"],
  :winner3 ["A" "B"],
  :winner1 ["A" "B"],
  :outcome "win",
  :tournament "double",
  :loser2 ["E" "F"],
  :X 9,
  :loser1 ["C" "D"],
  :pattern "confounded with partner"}
 {:loser3 ["A" "B"],
  :winner2 ["E" "F"],
  :winner3 ["G" "H"],
  :winner1 ["C" "D"],
  :outcome "loss",
  :tournament "double",
  :loser2 ["A" "B"],
  :X 10,
  :loser1 ["A" "B"],
  :pattern "confounded with partner"}
 {:loser3 ["E" "H"],
  :winner2 ["A" "C"],
  :winner3 ["A" "D"],
  :winner1 ["A" "B"],
  :outcome "win",
  :tournament "double",
  :loser2 ["E" "G"],
  :X 11,
  :loser1 ["E" "F"],
  :pattern "confounded with opponent"}
 {:loser3 ["A" "D"],
  :winner2 ["E" "G"],
  :winner3 ["E" "H"],
  :winner1 ["E" "F"],
  :outcome "loss",
  :tournament "double",
  :loser2 ["A" "C"],
  :X 12,
  :loser1 ["A" "B"],
  :pattern "confounded with opponent"}
 {:loser3 ["B" "D"],
  :winner2 ["E" "F"],
  :winner3 ["E" "F"],
  :winner1 ["A" "B"],
  :outcome "win",
  :tournament "double",
  :loser2 ["B" "C"],
  :X 13,
  :loser1 ["E" "F"],
  :pattern "strong indirect evidence"}
 {:loser3 ["E" "F"],
  :winner2 ["B" "C"],
  :winner3 ["B" "D"],
  :winner1 ["E" "F"],
  :outcome "loss",
  :tournament "double",
  :loser2 ["E" "F"],
  :X 14,
  :loser1 ["A" "B"],
  :pattern "strong indirect evidence"}
 {:loser3 ["E" "F"],
  :winner2 ["B" "C"],
  :winner3 ["B" "D"],
  :winner1 ["A" "B"],
  :outcome "win",
  :tournament "double",
  :loser2 ["E" "F"],
  :X 15,
  :loser1 ["E" "F"],
  :pattern "weak indirect evidence"}
 {:loser3 ["B" "D"],
  :winner2 ["E" "F"],
  :winner3 ["E" "F"],
  :winner1 ["E" "F"],
  :outcome "loss",
  :tournament "double",
  :loser2 ["B" "C"],
  :X 16,
  :loser1 ["A" "B"],
  :pattern "weak indirect evidence"}
 {:loser3 ["I" "J"],
  :winner2 ["A" "C"],
  :winner3 ["A" "D"],
  :winner1 ["A" "B"],
  :outcome "win",
  :tournament "double",
  :loser2 ["G" "H"],
  :X 17,
  :loser1 ["E" "F"],
  :pattern "diverse evidence"}
 {:loser3 ["A" "D"],
  :winner2 ["G" "H"],
  :winner3 ["I" "J"],
  :winner1 ["E" "F"],
  :outcome "loss",
  :tournament "double",
  :loser2 ["A" "C"],
  :X 18,
  :loser1 ["A" "B"],
  :pattern "diverse evidence"}
 {:loser3 ["B" "C"],
  :winner2 ["A" "C"],
  :winner3 ["A" "D"],
  :winner1 ["A" "B"],
  :outcome "win",
  :tournament "double",
  :loser2 ["B" "D"],
  :X 19,
  :loser1 ["C" "D"],
  :pattern "round robin"}
 {:loser3 ["A" "D"],
  :winner2 ["B" "D"],
  :winner3 ["B" "C"],
  :winner1 ["C" "D"],
  :outcome "loss",
  :tournament "double",
  :loser2 ["A" "C"],
  :X 20,
  :loser1 ["A" "B"], 
  :pattern "round robin"}]
